body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:776px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u142 {
  position:absolute;
  left:67px;
  top:37px;
  width:75px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:61px;
}
#u144 {
  position:absolute;
  left:142px;
  top:25px;
  width:83px;
  height:61px;
}
#u145 {
  position:absolute;
  left:2px;
  top:22px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:50px;
}
#u146 {
  position:absolute;
  left:282px;
  top:34px;
  width:98px;
  height:49px;
  font-size:28px;
}
#u147 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u148 {
  position:absolute;
  left:414px;
  top:34px;
  width:100px;
  height:49px;
  font-size:28px;
}
#u149 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u150 {
  position:absolute;
  left:660px;
  top:34px;
  width:60px;
  height:60px;
}
#u151 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u152 {
  position:absolute;
  left:716px;
  top:34px;
  width:60px;
  height:60px;
}
#u153 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:52px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u154 {
  position:absolute;
  left:227px;
  top:169px;
  width:267px;
  height:52px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u155 {
  position:absolute;
  left:2px;
  top:16px;
  width:263px;
  word-wrap:break-word;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:52px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u156 {
  position:absolute;
  left:227px;
  top:244px;
  width:267px;
  height:52px;
  opacity:0.5;
  font-size:16px;
  text-align:left;
}
#u157 {
  position:absolute;
  left:2px;
  top:16px;
  width:263px;
  word-wrap:break-word;
}
#u158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u158 {
  position:absolute;
  left:300px;
  top:330px;
  width:122px;
  height:44px;
}
#u159 {
  position:absolute;
  left:2px;
  top:14px;
  width:118px;
  word-wrap:break-word;
}
